@import "styles/abstracts/mixins";
@import "styles/abstracts/variables";

.navigation {
  ul {
    height: 5rem;
    padding: 0 7rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5rem;

    li:nth-last-child(2) {
      margin-left: auto;
    }

    li:nth-last-of-type(-n+2) {
      @include chunky-underline-animated($yellow, false, 35%);
    }
  }
}
