@import "styles/abstracts/mixins";
@import "styles/abstracts/variables";

.navigation {
  ul {
    height: 5rem;
    padding: 0 7rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5rem;

    li:not(li:first-child) {
      @include chunky-underline-animated($yellow, false, 35%);
    }
  }
}
